{% extends 'base.html' %}
{% load static %}
{% block css_styles %}
<style>
    @media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

    .gradient-custom-2 {
    /* fallback for old browsers */
    background: #a1c4fd;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))
    }

    .bg-indigo {
    background-color: #D19C97 !important;
    }
    @media (min-width: 992px) {
    .card-registration-2 .bg-indigo {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    }
    @media (max-width: 991px) {
    .card-registration-2 .bg-indigo {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    }
</style>
{% endblock %}
{% block content %}
<form class="" method="post">
    {% csrf_token %}
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5" style="color: #D19C97;">General Infomation</h3>
  
                    <div class="row">
                        <div class="col-md-6 mb-4 pb-2">
    
                          <div class="form-outline">
                            <input type="text" id="username" name="username" class="form-control form-control-lg" required/>
                            <label class="form-label" for="username">Username</label>
                          </div>
    
                        </div>
                        <div class="col-md-6 mb-4 pb-2">
    
                          <div class="form-outline">
                            <input type="password" id="password" name="password" class="form-control form-control-lg" required/>
                            <label class="form-label" for="password">Password</label>
                          </div>
    
                        </div>
                      </div>
  
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
  
                        <div class="form-outline">
                          <input type="text" id="firstname" name="firstname" class="form-control form-control-lg" required/>
                          <label class="form-label" for="firstname">First name</label>
                        </div>
  
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
  
                        <div class="form-outline">
                          <input type="text" id="lastname" name="lastname" class="form-control form-control-lg" />
                          <label class="form-label" for="lastname">Last name</label>
                        </div>
  
                      </div>
                    </div>
                    
                    <div class="mb-4 pb-2">
                        <div class="form-outline">
                          <input type="date" id="date" name="date" class="form-control form-control-lg" />
                          <label class="form-label" for="date">Birth date</label>
                        </div>
                    </div>
  

                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <input type="email" id="email" name="email" class="form-control form-control-lg" />
                        <label class="form-label" for="email">Email</label>
                      </div>
                    </div>
  
                    <div class="mb-4 pb-2">
                        <div class="form-outline">
                          <input type="phone" id="phone" name="phone" class="form-control form-control-lg" />
                          <label class="form-label" for="phone">Phone Number</label>
                        </div>
                    </div>

                  </div>
                </div>
                <div class="col-lg-6 bg-indigo text-white">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5">Contact Details</h3>
  
                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" id="street" name="street" class="form-control form-control-lg" />
                        <label class="form-label" for="street">Street + Nr</label>
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col-md-5 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                          <input type="text" id="appartaments" name="appartaments" class="form-control form-control-lg" />
                          <label class="form-label" for="appartaments">Appartaments</label>
                        </div>
  
                      </div>
                      <div class="col-md-7 mb-4 pb-2">
                        <div class="form-outline form-white">
                          <input type="text" id="zipcode" name="zipcode" class="form-control form-control-lg" />
                          <label class="form-label" for="zipcode">Zip Code</label>
                        </div>
  
                      </div>
                    </div>
  
                    <div class="mb-4">
                        <div class="form-outline form-white">
                          <input type="text" id="country" name="country" class="form-control form-control-lg" />
                          <label class="form-label" for="country">Country</label>
                        </div>
                    </div>
  
                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" id="city" name="city" class="form-control form-control-lg" />
                        <label class="form-label" for="city">City</label>
                      </div>
                    </div>
  
                    <button type="submit" class="btn btn-light btn-lg"
                      data-mdb-ripple-color="dark">Register</button>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>
{% endblock %}