{% extends 'base.html' %}

{% load static %}
{% block css_styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

    {% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-xl-3">
            <div class="card-box text-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="rounded-circle avatar-xl img-thumbnail" alt="profile-image">

                <h4 class="mb-0">{{user.first_name}} {{user.last_name}}</h4>
                <p class="text-muted">{{user.username}}</p>
                <div class="text-left mt-3">
                    <p class="text-muted mb-2 font-13"><strong>Full Name :</strong> <span class="ml-2">{{user.first_name}} {{user.last_name}}</span></p>

                    <p class="text-muted mb-2 font-13"><strong>Mobile :</strong><span class="ml-2">{{profile.phone}}</span></p>

                    <p class="text-muted mb-2 font-13"><strong>Email :</strong> <span class="ml-2 ">{{user.email}}</span></p>

                    <p class="text-muted mb-1 font-13"><strong>Location :</strong> <span class="ml-2">{{city.city_name}}/{{country.country_name}}</span></p>
                </div>
            </div> <!-- end card-box -->
        </div> <!-- end col-->

        <div class="col-lg-9 col-xl-9">
            <div class="card-box">
                <ul class="nav nav-pills navtab-bg">
                    <li class="nav-item">
                        <a href="#orders" data-toggle="tab" aria-expanded="true" class="nav-link ml-0 active">
                            <i class="mdi mdi-cart mr-1"></i>Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#settings" data-toggle="tab" aria-expanded="false" class="nav-link">
                            <i class="mdi mdi-settings-outline mr-1"></i>Settings
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    
                    <div class="tab-pane show active" id="orders">

                        <h5 class="mb-4 text-uppercase"><i class="mdi mdi-cart mr-1"></i>
                            Orders</h5>
                        <div class="table-responsive">
                            <table class="table table-borderless mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Product Name</th>
                                        <th>Order Date</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{order.product}}</td>
                                        <td>{{order.date_of_order}}</td>
                                        <td data-name="quantity">{{order.quantity}}</td>
                                        <td data-name="price">${{order.price}}</td>
                                        <td><span class="badge status_{{order.status}}">{{order.status}}</span></td>
                                        <td data-name="actions">
                                            {% if order.status == 'opened' %}
                                            <button class="btn btn-warning"><i class="mdi mdi-cart-arrow-down mr-1" data-toggle="tooltip" data-placement="top" title="Edit order"></i></button>
                                            {% endif %}
                                            {% if order.status == 'opened' or order.status == 'closed' %}
                                            <button class="btn btn-danger"><i class="mdi mdi-cart-remove mr-1" data-toggle="tooltip" data-placement="top" title="Remove order" data-orderid="{{order.pk}}"></i></button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- end orders content-->

                    <div class="tab-pane" id="settings">
                        <form method="post">
                            <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-account-circle mr-1"></i> Personal Info</h5>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">First Name</label>
                                        <input type="text" class="form-control" id="firstname" placeholder="Enter first name" value="{{user.first_name}}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastname">Last Name</label>
                                        <input type="text" class="form-control" id="lastname" placeholder="Enter last name" value="{{user.last_name}}">
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="birth_date">Birth date</label>
                                        <input type="date" class="form-control" id="birth_date" placeholder="Enter email" value="{{date_of_birth}}" max="{% now "Y-m-d" %}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input type="phone" class="form-control" id="phone" placeholder="Enter phone number" value="{{profile.phone}}">
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Email Address</label>
                                        <input type="email" class="form-control" id="email" placeholder="Enter email" value="{{user.email}}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userpassword">Password</label>
                                        <input type="password" class="form-control" id="userpassword" placeholder="Enter password">
                                        <span class="form-text text-muted"><small>If you want to change password please enter new password and save changes.</small></span>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->

                            <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-office-building mr-1"></i> Address Info</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="street">Street</label>
                                        <input type="text" class="form-control" id="street" placeholder="Enter street" value="{{address.street}}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="appartaments">Appartemants</label>
                                        <input type="text" class="form-control" id="appartaments" placeholder="Enter appartaments number" value="{{address.appartaments}}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="zipcode">Appartemants</label>
                                        <input type="text" class="form-control" id="zipcode" placeholder="Enter zip code" value="{{address.zip_code}}">
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="city">City</label>
                                        <input type="text" class="form-control" id="city" placeholder="Enter city" value="{{city.city_name}}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="country">Country</label>
                                        <input type="text" class="form-control" id="country" placeholder="Enter country" value="{{country.country_name}}">
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->

                            <div class="text-right">
                                <button type="submit" class="btn btn-success waves-effect waves-light mt-2"><i class="mdi mdi-content-save"></i> Save</button>
                            </div>
                        </form>
                    </div>
                    <!-- end settings content-->

                </div> <!-- end tab-content -->
            </div> <!-- end card-box-->
        </div> <!-- end col -->
    </div>
    </div>
    {% endblock %}
    {% block js_scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        // AJAX CALL
        // REMOVE ORDER
        $('.mdi-cart-remove').click(function(){
            $.ajax({
                    type: "POST",
                    url: "{% url 'profile:remove_order' %}",
                    data: {'orderid': $(this).attr('data-orderid'),'userid':'{{user.pk}}','csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: "json",
                    success: function(response) {
                    console.log(response)
                    let target_table = document.querySelector("#orders table tbody")
                    target_table.innerHTML = ''
                    let counter = 1
                    for(order of response){
                        let buttons = ''
                        if(order["status"]=='opened'){
                            buttons+= `<button class="btn btn-warning"><i class="mdi mdi-cart-arrow-down mr-1" data-toggle="tooltip" data-placement="top" title="Edit order"></i></button> `
                        } 
                        if(order["status"]=='opened' || order["status"]=='closed'){
                            buttons+= `<button class="btn btn-danger"><i class="mdi mdi-cart-remove mr-1" data-toggle="tooltip" data-placement="top" title="Remove order" data-orderid="${order['pk']}"></i></button>`
                        }
                        let order_row = `<tr>
                                        <td>${counter}</td>
                                        <td>${order["product"]}</td>
                                        <td>${order["date_of_order"]}</td>
                                        <td>${order["quantity"]}</td>
                                        <td>$${order["price"]}</td>
                                        <td><span class="badge status_${order["status"]}">${order["status"]}</span></td>
                                        <td>
                                            ${buttons}
                                        </td>
                                    </tr>`
                        counter++
                        console.log(order_row)
                        target_table.insertAdjacentHTML('beforeend',order_row)
                    }

                    }
                });
        });
        // EDIT ORDER
        let edit_buttons = document.querySelectorAll('button i.mdi-cart-arrow-down')
        let remove_buttons = document.querySelectorAll('button i.mdi-cart-remove')
        let change_buttons = document.querySelectorAll('button i.mdi-cart-plus')
        let cancel_buttons = document.querySelectorAll('button i.mdi-cart-minus')

        button_handler()

        function buttons_updater(edit_buttons,remove_buttons,change_buttons,cancel_buttons){
            edit_buttons = document.querySelectorAll('button i.mdi-cart-arrow-down')
            remove_buttons = document.querySelectorAll('button i.mdi-cart-remove')
            change_buttons = document.querySelectorAll('button i.mdi-cart-plus')
            cancel_buttons = document.querySelectorAll('button i.mdi-cart-minus')
        }

        function button_handler(){
            // if(action == 'edit'){
            //     order_edit(edit_buttons)
            // } else if(action == 'remove'){
            //     order_remove(remove_buttons)
            // } else if(action == 'change'){
            //     order_change(change_buttons)
            // } else if(action == 'cancel'){
            //     cancel_edit(cancel_buttons)
            // }
            order_edit(edit_buttons)
            // order_remove(remove_buttons)
            order_change(change_buttons)
            cancel_edit(cancel_buttons)
            buttons_updater(edit_buttons,remove_buttons,change_buttons,cancel_buttons)
        }
        function order_edit(buttons){
            for(button of buttons){
                button.addEventListener('click', function(e){
                    console.log(this)
                    let target_row = this.closest( "tr"),
                        quantity_cell = target_row.querySelector("td[data-name='quantity']"),
                        price_cell = target_row.querySelector("td[data-name='price']"),
                        actions_cell = target_row.querySelector("td[data-name='actions']"),
                        old_quantity = parseInt(quantity_cell.textContent),
                        old_price = parseFloat(price_cell.textContent.replace("$","")),
                        unit_price = old_price / old_quantity,
                        orderid = actions_cell.querySelector('button i.mdi-cart-remove').dataset.orderid
                    
                    actions_cell.innerHTML += `<button class="btn btn-success"><i class="mdi mdi-cart-plus mr-1" data-toggle="tooltip" data-placement="top" title="Change order"></i></button>
                    <button class="btn btn-danger"><i class="mdi mdi-cart-minus mr-1" data-toggle="tooltip" data-placement="top" title="Cancel edit"></i></button>`
                    
                    
                    quantity_cell.innerHTML = `<input type="number" name="quantity" id="quantity" value="${old_quantity}" min="1", max="10">`
                    
                    // quantity_cell.querySelector('input').addEventListener('change',(e)=>{
                    //     price_cell.textContent = '$'+(parseInt(e.target.value)*unit_price).toFixed(1)
                    // });

                    // actions_cell.querySelector('.mdi-cart-minus').addEventListener('click',(e)=>{
                    //     price_cell.textContent = '$'+old_price
                    //     quantity_cell.textContent = old_quantity
                    //     // actions_cell.innerHTML = `<button class="btn btn-warning"><i class="mdi mdi-cart-arrow-down mr-1" data-toggle="tooltip" data-placement="top" title="Edit order"></i></button> `+
                    //     //                          `<button class="btn btn-danger"><i class="mdi mdi-cart-remove mr-1" data-toggle="tooltip" data-placement="top" title="Remove order" data-orderid="${orderid}"></i></button>`
                    // });
                    button_handler()
                    console.log(old_quantity, old_price)
                })
            }
        }
        function order_change(buttons){
            for(button of buttons){
                button.addEventListener('click', function(e){
                    console.log(this)
                    let target_row = this.closest( "tr"),
                        quantity_cell = target_row.querySelector("td[data-name='quantity']"),
                        price_cell = target_row.querySelector("td[data-name='price']"),
                        actions_cell = target_row.querySelector("td[data-name='actions']"),
                        old_quantity = parseInt(quantity_cell.textContent),
                        old_price = parseFloat(price_cell.textContent.replace("$",""))

                    price_cell.textContent = '$'+old_price
                    quantity_cell.textContent = old_quantity
                    button_handler()
            })
        }}
        function cancel_edit(buttons){}
        // $('.mdi-cart-arrow-down').click(function(){
        //     console.log(this)
        //     let target_row = this.closest( "tr"),
        //         quantity_cell = target_row.querySelector("td[data-name='quantity']"),
        //         price_cell = target_row.querySelector("td[data-name='price']"),
        //         actions_cell = target_row.querySelector("td[data-name='actions']"),
        //         old_quantity = parseInt(quantity_cell.textContent),
        //         old_price = parseFloat(price_cell.textContent.replace("$","")),
        //         unit_price = old_price / old_quantity,
        //         orderid = actions_cell.querySelector('button i.mdi-cart-remove').dataset.orderid
            
        //     actions_cell.innerHTML += `<button class="btn btn-success"><i class="mdi mdi-cart-plus mr-1" data-toggle="tooltip" data-placement="top" title="Change order"></i></button>
        //     <button class="btn btn-danger"><i class="mdi mdi-cart-minus mr-1" data-toggle="tooltip" data-placement="top" title="Cancel edit"></i></button>`
            
            
        //     quantity_cell.innerHTML = `<input type="number" name="quantity" id="quantity" value="${old_quantity}" min="1", max="10">`
            
        //     // quantity_cell.querySelector('input').addEventListener('change',(e)=>{
        //     //     price_cell.textContent = '$'+(parseInt(e.target.value)*unit_price).toFixed(1)
        //     // });

        //     // actions_cell.querySelector('.mdi-cart-minus').addEventListener('click',(e)=>{
        //     //     price_cell.textContent = '$'+old_price
        //     //     quantity_cell.textContent = old_quantity
        //     //     // actions_cell.innerHTML = `<button class="btn btn-warning"><i class="mdi mdi-cart-arrow-down mr-1" data-toggle="tooltip" data-placement="top" title="Edit order"></i></button> `+
        //     //     //                          `<button class="btn btn-danger"><i class="mdi mdi-cart-remove mr-1" data-toggle="tooltip" data-placement="top" title="Remove order" data-orderid="${orderid}"></i></button>`
        //     // });

        //     console.log(old_quantity, old_price)
        //     // $.ajax({
        //     //         type: "POST",
        //     //         url: "{% url 'profile:remove_order' %}",
        //     //         data: {'orderid': $(this).attr('data-orderid'),'userid':'{{user.pk}}','csrfmiddlewaretoken': '{{ csrf_token }}'},
        //     //         dataType: "json",
        //     //         success: function(response) {
        //     //         console.log(response)
        //     //         let target_table = document.querySelector("#orders table tbody")
        //     //         target_table.innerHTML = ''
        //     //         let counter = 1
        //     //         for(order of response){
        //     //             let buttons = ''
        //     //             if(order["status"]=='opened'){
        //     //                 buttons+= `<button><i class="mdi mdi-cart-arrow-down mr-1" data-toggle="tooltip" data-placement="top" title="Edit order"></i></button> `
        //     //             } 
        //     //             if(order["status"]=='opened' || order["status"]=='closed'){
        //     //                 buttons+= `<button><i class="mdi mdi-cart-remove mr-1" data-toggle="tooltip" data-placement="top" title="Remove order" data-orderid="${order['pk']}"></i></button>`
        //     //             }
        //     //             let order_row = `<tr>
        //     //                             <td>${counter}</td>
        //     //                             <td>${order["product"]}</td>
        //     //                             <td>${order["date_of_order"]}</td>
        //     //                             <td>${order["quantity"]}</td>
        //     //                             <td>$${order["price"]}</td>
        //     //                             <td><span class="badge status_${order["status"]}">${order["status"]}</span></td>
        //     //                             <td>
        //     //                                 ${buttons}
        //     //                             </td>
        //     //                         </tr>`
        //     //             counter++
        //     //             console.log(order_row)
        //     //             target_table.insertAdjacentHTML('beforeend',order_row)
        //     //         }

        //     //         }
        //     //     });
        // });

    </script>
    {% endblock %}
