{% extends 'base.html' %}

{% load static %}
    {% block content %}
    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Якісний продукт</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Безкоштовна доставка</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Повернення товару до 14 днів</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">24/7 Підтримка</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->


    <!-- Categories Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
                {% for product in product_list %}
                    <div class="col-lg-4 col-md-6 pb-1">
                        <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                            <p class="text-right">6 товарів</p>
                            <a href="{% url 'shop:shop_page' category_slug=product.product_category.slug %}" class="cat-img position-relative overflow-hidden mb-3">
                                <img class="img-fluid" src="{{product.photo.url}}" alt="" style="height: 350px;">
                            </a>
                            <h5 class="font-weight-semi-bold m-0">{{product.product_category.category_name}}</h5>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
    <!-- Categories End -->


    <!-- Offer Start -->
    <div class="container-fluid offer pt-5">
        <div class="row px-xl-5">
            <div class="col-md-6 pb-4">
                <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                    <img src="{% static 'img/offer-1.png' %}" alt="">
                    <div class="position-relative" style="z-index: 1;">
                        <h5 class="text-uppercase text-primary mb-3">20% Знижка на всі товари</h5>
                        <h1 class="mb-4 font-weight-semi-bold">Літні шини</h1>
                        <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Купити зараз</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pb-4">
                <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
                    <img src="{% static 'img/offer-2.png' %}" alt="">
                    <div class="position-relative" style="z-index: 1;">
                        <h5 class="text-uppercase text-primary mb-3">20% Знижка на всі продукти</h5>
                        <h1 class="mb-4 font-weight-semi-bold">Зимові шини</h1>
                        <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Купити Зараз</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Offer End -->

    <!-- Products Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Наші новинки</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            {% for product in products %}
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="{{product.photo.url}}" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{product.product_name}}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>₴{{product.unit_price}}</h6><h6 class="text-muted ml-2"><del>₴{{product.old_price}}</del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="{% url 'shop:detail_page' pk=product.pk %}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Деталі</a>
                        <!-- <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Купити</a> -->
                        <form action="{% url 'cart:cart_add' product_id=product.pk %}" name="cart_add_form_{{product.pk}}" method="post">
                            {% csrf_token %}
                            {{cart_product_form}}
                            <a onClick="document.cart_add_form_{{product.pk}}.submit()" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Купити</a>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Products End -->


    <!-- Vendor Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    <div class="vendor-item border p-4">
                        <img src="{% static 'img/vendor-1.jpg' %}" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="{% static 'img/vendor-2.jpg' %}" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="{% static 'img/vendor-3.jpg' %}" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="{% static 'img/vendor-4.jpg' %}" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="{% static 'img/vendor-5.jpg' %}" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="{% static 'img/vendor-6.jpg' %}" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="{% static 'img/vendor-7.jpg' %}" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="{% static 'img/vendor-8.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->
    {% endblock %}